html {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

/*Header start*/
.headerItems {
	list-style-type: none;
	border-bottom: 2px solid rgb(219, 219, 219);
	margin-right: 20px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.headerTitle {
	text-align: center;
	font-family: 'Times New Roman', serif;
	font-size: 25px;
	margin-top: 20px;
}

/*Header end*/

.nav-scroller {
	margin-top: -12px;
}

.jumbotron {
	background-image: url('https://media-eng.dhakatribune.com/uploads/2020/09/e9906811-edbf-4ae1-bc74-6c7b9d3d0bf8-1601278245306.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	font-family: Bahnschrift;
}

.mainArticleTitle {
	text-shadow: 3px 2px rgba(0, 0, 0, 0.2);
	font-family: 'Georgia', serif;
}

.postImage {
	width: 200px;
	height: 250px;
	object-fit: cover;
}

.mainImage {
	width: 50vw;
	height: 500px;
	object-fit: cover;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

/*Header start*/
.headerItems {
	list-style-type: none;
	border-bottom: 2px solid rgb(219, 219, 219);
	margin-right: 20px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.headerTitle {
	text-align: center;
	font-family: 'Times New Roman', serif;
	font-size: 25px;
	margin-top: 20px;
}

/*Header end*/

.nav-scroller {
	margin-top: -12px;
}

.jumbotron {
	background-image: url('https://media-eng.dhakatribune.com/uploads/2020/09/e9906811-edbf-4ae1-bc74-6c7b9d3d0bf8-1601278245306.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	font-family: Bahnschrift;
}

.mainArticleTitle {
	text-shadow: 3px 2px rgba(0, 0, 0, 0.2);
	font-family: 'Georgia', serif;
}

.postImage {
	width: 200px;
	height: 250px;
	object-fit: cover;
}

.mainImage {
	width: 100%;
	height: 500px;
	object-fit: cover;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.footerList {
	list-style-type: none;
}

.footerList li {
	width: 350px;
	margin-left: 2rem;
}

.noUnderline {
	text-decoration: none;
}

.noUnderline:hover {
	text-decoration: underline;
}
